<div class="front-container">
  <% @first_group.each do |group| %>
  <div class="black-front">
    <img class="black-background black-front" srcset="<%= group.image %>" width="100%" height="auto" />
  </div>
  <div class="centered medium-text">
    <%= link_to group.title, category_group_path(Category.find(group.category_id).slug, group), class: "second-link" %>
  </div>
  <div class="bottom-left">
    <%= link_to group.image_source, group.image_source_link, class: "second-link" if group.image_source.present? %>
  </div>
  <% end %>
</div>

<div class="full-width-container five-space">
  <div class="container">

    <sidebar class="home-sidebar">
      <% if @categories.any? %>
        <div class="side-nav">
          <ul>
            <% @categories.each do |category| %>
              <li class="side-nav-links"><%= link_to category.title, category_path(category) %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </sidebar>

    <main class="home-content">
      <% @recent_groups.each do |group| %>
        <div class="five-space group-container">
          <div class="one-column">
            <img class="thumbnail-image" srcset="<%= group.image %>" width="100%" height="auto" />
          </div>
          <div class="second-column">
            <div class="category-list-text padding-horizontal">
              <%= group.category.title %>
            </div>
            <div class="group-list-title padding-horizontal">
              <%= link_to group.title, category_group_path(Category.find(group.category_id).slug, group) %>
            </div>
            <div class="tagline-text">
              <%= group.tagline %>
            </div>
            <div class="bottom">
              <div class="padding-vertical padding-horizontal">
                <%= link_to "Read More...", category_group_path(Category.find(group.category_id).slug, group), class: "first-post" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </main>

  </div>
</div>