<div class="front-container">
  <% @first_group.each do |group| %>
  <div class="black-front">
    <img class="black-background black-front" srcset="<%= group.image %>" width="100%" height="auto" />
  </div>
  <div class="centered medium-text">
    <%= link_to group.title, category_group_path(Category.find(group.category_id).slug, group), class: "second-link" %>
  </div>
  <div class="bottom-left">
    <%= link_to group.image_source, group.image_source_link, class: "second-link" if group.image_source.present? %>
  </div>
  <% end %>
</div>

<div class="full-width-container three-space">
  <div class="container">

    <sidebar class="home-sidebar">

      <div class="four-space-top">
        Keep up on:
      </div>
      <div class="one-space">
        <%= link_to "Facebook", "https://facebook.com/halowake", class: "facebook-side" %>
      </div>
      <div class="one-space">
        <%= link_to "Twitter", "https://twitter.com/halowake", class: "twitter-side" %>
      </div>
      <div class="four-space-top">
        Or get email updates:
      </div>
      <div class="one-space">
        <%= form_for(@email, url: emails_path) do |f| %>
          <div class="field">
            <%= f.email_field :email, placeholder: "Enter your email", class: "text-field" %>
          </div>
          <div class="actions">
            <%= f.submit "Sign up", class: "first-post" %>
          </div>
        <% end %>
      </div>

      <% if @categories.any? %>
        <div class="side-nav">
          <ul>
            <% @categories.each do |category| %>
              <li class="side-nav-links"><%= link_to category.title, category_path(category) %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </sidebar>

    <% Email.find_each do |email| %>
      <%= email.email %>
    <% end %>

    <main class="home-content">
      <% @recent_groups.each do |group| %>
        <div class="three-space group-container">
          <div class="one-column">
            <%= link_to(category_group_path(group.category.slug, group)) do %>
              <img class="thumbnail-image" srcset="<%= group.image %>" width="100%" height="auto" />
            <% end %>
          </div>
          <div class="second-column">
            <div class="category-list-text padding-horizontal">
              <%= group.category.title %>
            </div>
            <div class="group-list-title padding-horizontal">
              <%= link_to group.title, category_group_path(group.category.slug, group) %>
            </div>
            <div class="author-text padding-horizontal">
              <%= group.admin.name %> posted <%= time_ago_in_words(group.created_at) %> ago.
            </div>
            <div class="tagline-text">
              <%= group.tagline %>
            </div>
            <div class="bottom">
              <div class="padding-vertical padding-horizontal">
                <%= link_to "Read More...", category_group_path(group.category.slug, group), class: "first-post" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </main>

  </div>
</div>