<div class="padding-horizontal padding-vertical">
  <div class="top-border four-space-top two-padding-top">
    Get email updates:
  </div>
  <div class="one-space">
    <%= form_for(Email.new, url: emails_path) do |f| %>
      <div class="two-thirds">
        <%= f.email_field :email, placeholder: "Enter your email", class: "text-field-white" %>
      </div>
      <div class="one-thirds">
        <%= f.submit "Sign up", class: "first-post-tall" %>
      </div>
    <% end %>
  </div>
  <div class="four-space-top">
    Or keep up on:
  </div>
  <div class="one-space">
    <%= link_to "Facebook", "https://facebook.com/halowake", class: "facebook" %>
    <%= link_to "Twitter", "https://twitter.com/halowake", class: "twitter" %>
  </div>
</div>