<%= provide(:title, "Create New Group | Halowake") %>

<div>Create New Group</div>
      
<%= form_for(@group, url: category_groups_path) do |f| %>
  <%= render 'partials/group_errors' %>
  <div class="field">
    <%= f.text_field :title, placeholder: "Title", class: "text-field" %>
  </div>
  <div class="field">
    <%= f.text_field :image, placeholder: "Image", class: "text-field" %>
  </div>
  <div class="field">
    <%= f.text_field :link, placeholder: "Link", class: "text-field" %>
  </div>
  <div class="field">
    <%= f.text_area :content, placeholder: "Content", class: "text-area" %>
  </div>
  <div class="actions">
    <%= f.submit "Create Group", class: "submit-button" %>
  </div>
<% end %>