
<%= link_to "Create New Post", new_category_group_post_path(@category, @group) if admin_signed_in? %>
<%= link_to "Edit Group", edit_category_group_path(@category, @group) if admin_signed_in? %>
<%= link_to "Delete", category_group_path, method: :delete  if admin_signed_in? %>



<div class="full-width-container">
  <div class="container">

    <div class="category-title">
      <%= @category.title %>
    </div>
    <div class="post-title">
      <%= @group.title %>
    </div>

    <div class="content group-container">
      <div class="front-container">
        <div class="ten-space-top">
          <%= image_tag(@group.image, height: '100%', width: '100%' ) %>
        </div>
        <div class="bottom-left">
          <%= link_to @group.image_source, @group.image_source_link, class: "second-link" if @group.image_source.present? %>
        </div>
      </div>

      <div class="best">
        <%= sanitize(@group.content) %>
      </div>

      <div class="three-space">
        <%= link_to @group.anchor, @group.link if @group.link.present? %>
      </div>

      <% if @group.posts.any? %>
        <div class="thumbnail-group-text">
          <%= link_to "Get Started", category_group_post_path(@category, @group, @group.posts.first), class: "first-post" %>
        </div>
      <% end %>

  </div>
</div>