<%= provide(:title, sanitize(@category.title)) %>

<div class="front-container">
  <div class="black-front">
    <img class="black-background black-front" srcset="<%= @category.image %>" width="100%" height="auto" />
  </div>
  <div class="large-text centered">
    <%= @category.title %>
  </div>
</div>


<%= link_to "Create New Group", new_category_group_path(@category) if admin_signed_in? %>
<%= link_to "Edit Category", edit_category_path(@category) if admin_signed_in? %>
<%= link_to "Delete", category_path, method: :delete if admin_signed_in? %>


<div class="full-width-container">
  <div class="container">
  
    <sidebar class="home-sidebar">

      <%= render 'categories/partials/home_keep_up' %>
      
      <% if @categories.any? %>
        <div class="side-nav">
          <ul>
            <% @categories.each do |category| %>
              <li class="side-nav-links"><%= link_to category.title, category_path(category) %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </sidebar>

    <main class="home-content">
      <% @category.groups.each do |group| %>
        <% if group.published == true %>
          <div class="three-space group-container">
            <div class="one-column">
              <%= link_to(category_group_path(group.category.slug, group)) do %>
                <img class="thumbnail-image" srcset="<%= group.image %>" width="100%" height="auto" />
              <% end %>
            </div>
            <div class="second-column">
              <div class="category-list-text padding-horizontal">
                <%= group.category.title %>
              </div>
              <div class="group-list-title padding-horizontal">
                <%= link_to group.title, category_group_path(Category.find(group.category_id).slug, group) %>
              </div>
              <div class="author-text padding-horizontal">
                <%= group.admin.name %> posted <%= time_ago_in_words(group.created_at) %> ago.
              </div>
              <div class="tagline-text">
                <%= group.tagline %>
              </div>
              <div class="bottom">
                <div class="padding-vertical padding-horizontal">
                  <%= link_to "Read More...", category_group_path(Category.find(group.category_id).slug, group), class: "first-post" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </main>
    
  </div>
</div>