<%= provide(:title, sanitize(@post.title)) %>

<%= link_to "Edit Post", edit_category_group_post_path(@category, @group, @post) if admin_signed_in? %>
<%= link_to "Delete", category_group_post_path, method: :delete if admin_signed_in? %>

<div class="full-width-container">
  <div class="container">

    <div class="category-title">
      <%= @category.title %>
    </div>
    <div class="group-title">
      <%= @group.title %>
    </div>

    <div class="content group-container">

      <div class="padding-horizontal padding-vertical">
        <% if @post.previous.present? %>
          <%= link_to "Previous", category_group_post_path(@category, @group, @post.previous), class: "previous-next" %>
        <% else %>
          <%= link_to "Back", category_group_path(@category, @group), class: "previous-next" %>
        <% end %>
        <% if @post.next.present? %>
          <%= link_to "Next", category_group_post_path(@category, @group, @post.next), class: "previous-next" %>
        <% else %>
          <%= link_to "Continue", category_group_path(@category, @group.next_group), class: "previous-next" if @group.next_group.present? %>
        <% end %>
      </div>

      <%= render 'partials/ad_trash' %>

      <div class="front-container">
        <div class="one-space">
          <%= image_tag(@post.image, height: '100%', width: '100%' ) %>
        </div>
        <div class="bottom-left">
          <%= link_to @post.image_source, @post.image_source_link, class: "second-link" if @post.image_source.present? %>
        </div>
      </div>

      <div class="post-title padding-horizontal padding-vertical">
        <%= @post.title %>
      </div>

      <div class="best padding-horizontal">
        <%= sanitize(@post.content) %>
      </div>

      <div class="three-space padding-horizontal">
        <%= link_to @post.anchor, @post.link if @post.link.present? %>
      </div>

      <%= render 'partials/ad_trash' %>

      <div class="padding-horizontal padding-vertical">
        <% if @post.previous.present? %>
          <%= link_to "Previous", category_group_post_path(@category, @group, @post.previous), class: "previous-next" %>
        <% else %>
          <%= link_to "Back", category_group_path(@category, @group), class: "previous-next" %>
        <% end %>
        <% if @post.next.present? %>
          <%= link_to "Next", category_group_post_path(@category, @group, @post.next), class: "previous-next" %>
        <% else %>
          <%= link_to "Continue", category_group_path(@category, @group.next_group), class: "previous-next" if @group.next_group.present? %>
        <% end %>
      </div>

      <div class="padding-horizontal padding-vertical">
        <div class="one-space">
          Share this on:
        </div>
        <a onclick="javascript:window.open('https://www.facebook.com/sharer/sharer.php?u=<%= category_group_url(@category, @group) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0)" class="facebook">facebook</a>
        <a onclick="javascript:window.open('http://twitter.com/share?text=<%= @group.title %> - &amp;url=<%= category_group_url(@category, @group) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0)" class="twitter">twitter</a>
      </div>
    </div>

  </div>
</div>